/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}
@font-face {
  font-family: Marion;
  src: url(font/MarionRegular.ttf);
}

:root {
  --bgColor:#E5E3D5;
  --accentText: #8C918A;
  --mainColor: #313F3F;
  --headerColor: #FFFDFC;
}

  /*********/
 /*  HOME */
/*********/

body#home{
  width: 100vw;
  background-image: url('../images/headerbg.jpeg');
  background-repeat: no-repeat;
  background-color: var(--bgColor);
  font-family: Marion;
  color: var(--mainColor);
  overflow-x: hidden;
}

#home section ul p{
  color: var(--accentText);
}

#home section ul p:first-of-type{
  font-size: 1.2em;
}

#home section ul p:last-of-type{
  font-size: .7em;
}

#home section.top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#home .top img{
  max-width: 80%;
  margin: 1em;
}

#home nav img{
  max-height: 2em;
  margin: 10px;
}

#home ul{
  text-decoration: none;
}
#home ul{
  display: flex;
  justify-content: space-between;
  flex-wrap:wrap;
  flex-direction: row;
  list-style:none;
  align-items: stretch; 
  width: 100%;
  line-height: 1.5em;
  padding: .5em;
}
#home .merch{
  display:flex;
  grid-gap:2em;
  margin:0; padding:0;
  list-style:none;
  align-items: stretch; 
  justify-content: space-evenly;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
#home li { 
  width: 40%;
}
#home .merch img{
  width: 100%;
}

#home section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#home h2{
  text-align: center;
  color: var(--headerColor);
  background-color: var(--mainColor);
  padding: .2em 1em .2em 1em;
  display: inline-block;
  font-size: 2em;
  
}

  /*********/
 /*  TOUR */
/*********/

body#tour{
  background-color: var(--bgColor);
}

#tour article a{
  border: 1px solid var(--mainColor);
  padding: .75em;
  color: var(--mainColor);
  text-decoration: none;
}

#tour article p{
  color: var(--accentText);
}